@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 17%, 75%);
    background-image: url(bg-pattern-intro-left-desktop.svg),
                      url(bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom -40px left, top -80px right;
    height: 90vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.quiz-topic-controls {
    margin-bottom: 4rem;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    background-color: #56212e;
    box-shadow: 0 1px 5px rgba(63, 83, 97, 0.5);
    font-weight: bold;
}

select {
    height: 1.6rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
}

label {
    margin: 0.7rem 0;
}

.quiz-button {
    width: 7rem;
    height: 1.7rem;
    border: none;
    border-radius: 0.5rem;
    margin: auto 2.3rem;
    background-color: rgb(160, 23, 23);
    color: rgb(255, 255, 255);
    padding: .5rem .3rem;
    cursor: pointer;
}

.quiz-button:hover {
    background-color: rgb(115, 19, 19);
    color: #b8b4b4;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.8rem;
}

.quiz-game-area {
    display: flex;
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-box {
    margin-top: 4rem;
    width: 57%;
    height: 60%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 0 5px 2px #73737d4d;
    background-color: #56212e;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    transition: 150ms;
    cursor: pointer;
}

.quiz:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(77, 74, 74, 0.5);
    background-color: rgb(84, 130, 255);
}

.question-block {
    margin: auto 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}


.quiz-box.flip {
    --rotate-y: 180deg;
}

.quiz-box .front {
    left: 0;
    position: absolute;
}


.quiz-box .front,
.quiz-box .back {
    padding: 1rem;
    backface-visibility: hidden;
} 

.quiz-box .back {
    position: absolute;
    transform: rotateY(180deg);
}

.link {
    margin-top: 0.8rem;
    font-family: 'Julius Sans One', sans-serif;
    
}

a {
    color: #690d0db0;
    font-weight: bold;
    text-decoration: none;
}

